#main-page-header-wrapper {
  padding: 2% 5%; 
  border-radius: 0 0 99px 99px; 
  background-color: rgba(138, 134, 132, 0.15); 
  text-align: center; 
}
#main-page-header {
	color: #eee;
	padding: 0; 
	margin: 0; 
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 2px 3px #fe7e2a;
}
#main-page-select {
  cursor: pointer; 
  width: 20%; 
  margin: 0 auto; 
  margin-top: 10px;
  @media screen and (max-width: 768px) { 
    padding: 0;
  }
}
#main-page-body-wrapper {
	padding: 3%;
	display: flex; 
	flex-wrap: wrap;
}
.product-section-box {
  border: 1px solid #fff; 
  min-height: 120px; 
  margin: 1%; 
  width: 31%; 
  float: left; 
  background-color: rgba(0,0,0,0.35); 
  padding: 10px; 
  border-radius: 5px;
}
.product-section-box-row {
  border-bottom: 1px solid #ccc; 
  padding: 3px;
}
.product-section-box-row-name {
	color:#fe7e2a; 
	padding: 3px; 
	font-style: italic; 
	display: inline-block;
	min-width: 30%;
}
.checkboxes {
  cursor: pointer;
}
#select-all-section {
  background-color: rgba(49,48,49,0.1);
  border: 1px dotted #000;
  padding: 2%;
  text-align: center;  
}
#select-all-checkbox {
  cursor: pointer;
}
#delete-btn {
  display: block;
  margin: 0 auto;
}